
  <table class="table table-bordered table-hover" style="table-layout: fixed;">
	<thead>
	<tr>
    	<th ng-repeat="cl in columns" ng-click="sortered(cl)">
    		<span ng-bind="cl.caption"></span>
    		<span class ="glyphicon glyphicon-chevron-up" ng-show="cl.sorted=='top'"></span>
    		<span class ="glyphicon glyphicon-chevron-down" ng-show="cl.sorted=='bottom'"></span>
    	</th>
    	<th></th>
    </tr>
    <tr>
    	<th ng-repeat="cl in columns"><input type="text" ng-model="cl.value" style="width:100%" ng-change="update()"></input></th>
    </tr>
    </thead>
    	<tr ng-repeat="st in data"> 
    		<td ng-repeat="cl in columns" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    			<span class="glyphicon glyphicon-triangle-right" ng-if="$index==0&&!st.close" ng-click="open(st)"></span>
    			<span class="glyphicon glyphicon-triangle-bottom" ng-if="$index==0&&st.close" ng-click="close(st)"></span>
    			<span ng-bind="getPropertyValue(st, cl.property)"></span>
    		</td>
    		<td><button type="button" class="btn btn-success" ng-click="restFunctions.add()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
    		<button type="button" class="btn btn-warning" ng-click=""><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
    		<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
    		</td>
    </tr>

</table>