<div class="form-horizontal">
<form name="1" class="form-group" ng-submit="save()">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name:</label><div class="col-sm-9"><input class="form-control" type="text" name="" ng-required="true"ng-model="object.Name" placeholder="Name"/></div>
		<div class="col-md-1"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Age:</label><div class="col-sm-9"><input class="form-control" type="text" name="" ng-required="true" ng-model="object.Age" placeholder="Age"/></div>
		<div class="col-md-1"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">City:</label><div class="col-sm-9"><input class="form-control" type="text" name=""  ng-model="object.City" placeholder="City"/></div>
		<div class="col-md-1"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Address:</label><div class="col-sm-9"><input class="form-control" type="text" name="" ng-model="object.Address" placeholder="Address"/></div>
		<div class="col-md-1"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Status:</label>
		<div class="col-sm-9">
			<select class="form-control" ng-model="object.Status" ng-options="status as status.Name for status in statuses">
			<!--	<option ng-repeat="status in statuses track by status.Code" value="{{status}}">{{status.Name}}</option>-->
			</select>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="col-md-2"></div><button name="Save" value="Save" class="btn btn-success">Save</button>
</form>
</div>